.slider {
    position: relative;
    box-shadow: 0 0 6px 0 #ccc;
    min-height: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 1000;
}

.slider__prev {
    left: 6px;
    background: url(images/preview.png) 0 center no-repeat;
    box-shadow: -2px 0 6px 0 #ccc;
}

.slider__next {
    right: 6px;
    background: url(images/forward.png) 10px center no-repeat;
    box-shadow: 2px 0 6px 0 #ccc;
}

.slider__content {
    position: relative;
    height: 420px;
}

.slider__slide {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.slider__slide img {
    display: block;
    margin: 0 auto;
}