.slider {
    position: relative;
    box-shadow: 0 0 6px 0 #ccc;
    min-height: 80px;
}

.slider__prev,
.slider__next {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.slider__prev {
    left: 6px;
    background: url(images/preview.png) 0 center no-repeat;
    box-shadow: -2px 0 6px 0 #ccc;
}

.slider__next {
    right: 6px;
    background: url(images/forward.png) 10px center no-repeat;
    box-shadow: 2px 0 6px 0 #ccc;
}